#Задание по практике 3

Интернет тетрадка https://colab.research.google.com/drive/1BD2JOUK5OPyKSjfkJfYJZfF2u1cQUw7Q?usp=sharing

##Обработка пропущенных значений

Обработайте пропущенные значения:


* Удалите пропущенные значения
* Заполните при помощи медианы, среднего для числовых значений
* Заполните при помощи моды для категориальных значений
* Интерполируйте
Выведите статистку после каждого метода и объясните

In [12]:
#!pip install scikit-learn
import pandas as pd
import numpy as np

In [13]:
import pandas as pd

df = pd.read_csv('ca_offenses_by_city.csv')

In [14]:
# чиним датасет

df = df.drop(['Rape (legacy definition)'], axis=1)
for col in df.columns:
  if col == 'City':
    continue
  df[col] = df[col].astype(str).str.replace(',','')
for col in df.columns:
  if col == 'City':
    df[col].astype("category")
    continue
  df[col] = df[col].astype('int')

In [15]:
#Ломаем данные
broken_df = df.mask(np.random.random(df.shape)<0.1)
broken_df

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Adelanto,33005.0,212.0,2.0,14.0,NaN,148.0,808.0,434.0,NaN,NaN,24.0
1,Agoura Hills,20970.0,NaN,0.0,1.0,6.0,8.0,310.0,82.0,217.0,NaN,0.0
2,Alameda,78613.0,148.0,2.0,7.0,61.0,NaN,1819.0,228.0,1245.0,346.0,18.0
3,Albany,19723.0,34.0,1.0,6.0,16.0,11.0,605.0,95.0,447.0,NaN,0.0
4,NaN,86175.0,168.0,1.0,13.0,74.0,NaN,1929.0,305.0,1413.0,211.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...
455,Yountville3,3030.0,7.0,NaN,0.0,0.0,7.0,NaN,NaN,36.0,NaN,0.0
456,Yreka,NaN,47.0,NaN,4.0,4.0,38.0,309.0,85.0,188.0,36.0,1.0
457,Yuba City,65974.0,216.0,0.0,28.0,66.0,122.0,1792.0,429.0,1160.0,203.0,14.0
458,NaN,53498.0,94.0,2.0,8.0,22.0,62.0,1309.0,263.0,838.0,208.0,12.0
459,Yucca Valley,21672.0,151.0,0.0,8.0,30.0,113.0,664.0,217.0,381.0,66.0,8.0

In [16]:
#Удаление
droped_df = broken_df.dropna()

# Мы просто удалили все строчки, где содержались nan'ы, не разбирая их природу
# Данный способ хорош, когда мы точно знаем, что мы не можем обработать запись без какого-то поля
# Но количество nan'ов в выборке может быть слишком большим. Настолько, что после удаления выборка станет не репрезентативной

droped_df

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
6,Alturas3,2566.0,35.0,0.0,13.0,2.0,20.0,61.0,9.0,48.0,4.0,4.0
9,Anderson,10277.0,88.0,0.0,4.0,9.0,75.0,474.0,60.0,358.0,56.0,2.0
11,Apple Valley,72173.0,234.0,1.0,15.0,50.0,168.0,1878.0,427.0,1187.0,264.0,14.0
24,Bakersfield,373887.0,1810.0,22.0,71.0,655.0,1062.0,15559.0,3877.0,9288.0,2394.0,339.0
27,Barstow,23700.0,283.0,2.0,12.0,70.0,199.0,1037.0,447.0,408.0,182.0,15.0
...,...,...,...,...,...,...,...,...,...,...,...,...
436,Watsonville,53581.0,303.0,4.0,33.0,104.0,162.0,1930.0,254.0,1261.0,415.0,4.0
441,Westminster,92640.0,303.0,1.0,22.0,118.0,162.0,2950.0,502.0,2123.0,325.0,6.0
443,West Sacramento,52622.0,311.0,2.0,21.0,90.0,198.0,1457.0,256.0,1030.0,171.0,6.0
457,Yuba City,65974.0,216.0,0.0,28.0,66.0,122.0,1792.0,429.0,1160.0,203.0,14.0
459,Yucca Valley,21672.0,151.0,0.0,8.0,30.0,113.0,664.0,217.0,381.0,66.0,8.0

In [17]:
#Заполнение при помощи медианы
filled_median_df = broken_df.fillna(broken_df.median().astype(int))
filled_median_df['City'] = broken_df.fillna(broken_df.mode())['City']

# Данный способ позволяет в добавить значения в пропущенные ячейки
# Добавляя в них медиану, не изменным останеться параметр медианы
# Считаю его более приемлимым, т.к. медиана меньше подвержена выбросам
# После применения медианы/среднего работа с модой станет некорректной
#
# Однако заполнение медианой/средним не сработает с категориальными переменными
# Поэтому применим к ним [City] моду

filled_median_df

C:\Users\R E K L\AppData\Local\Temp\ipykernel_11484\2286853083.py:2: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  filled_median_df = broken_df.fillna(broken_df.median().astype(int))

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Adelanto,33005.0,212.0,2.0,14.0,20.0,148.0,808.0,434.0,504.0,90.0,24.0
1,Agoura Hills,20970.0,85.0,0.0,1.0,6.0,8.0,310.0,82.0,217.0,90.0,0.0
2,Alameda,78613.0,148.0,2.0,7.0,61.0,46.0,1819.0,228.0,1245.0,346.0,18.0
3,Albany,19723.0,34.0,1.0,6.0,16.0,11.0,605.0,95.0,447.0,90.0,0.0
4,Aliso Viejo,86175.0,168.0,1.0,13.0,74.0,46.0,1929.0,305.0,1413.0,211.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...
455,Yountville3,3030.0,7.0,1.0,0.0,0.0,7.0,708.0,154.0,36.0,90.0,0.0
456,Yreka,33159.0,47.0,1.0,4.0,4.0,38.0,309.0,85.0,188.0,36.0,1.0
457,Yuba City,65974.0,216.0,0.0,28.0,66.0,122.0,1792.0,429.0,1160.0,203.0,14.0
458,NaN,53498.0,94.0,2.0,8.0,22.0,62.0,1309.0,263.0,838.0,208.0,12.0
459,Yucca Valley,21672.0,151.0,0.0,8.0,30.0,113.0,664.0,217.0,381.0,66.0,8.0

In [18]:
#Заполнение при помощи среднего

#Заполнение при помощи медианы
filled_mean_df = broken_df.fillna(broken_df.mean().astype(int))
filled_mean_df['City'] = broken_df.fillna(broken_df.mode())['City']

# Делает все тоже самое, только заполняем средним
# Среднее столбца останеться неизменным


filled_mean_df

C:\Users\R E K L\AppData\Local\Temp\ipykernel_11484\1720933080.py:4: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  filled_mean_df = broken_df.fillna(broken_df.mean().astype(int))

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Adelanto,33005.0,212.0,2.0,14.0,102.0,148.0,808.0,434.0,1228.0,323.0,24.0
1,Agoura Hills,20970.0,305.0,0.0,1.0,6.0,8.0,310.0,82.0,217.0,323.0,0.0
2,Alameda,78613.0,148.0,2.0,7.0,61.0,164.0,1819.0,228.0,1245.0,346.0,18.0
3,Albany,19723.0,34.0,1.0,6.0,16.0,11.0,605.0,95.0,447.0,323.0,0.0
4,Aliso Viejo,86175.0,168.0,1.0,13.0,74.0,164.0,1929.0,305.0,1413.0,211.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...
455,Yountville3,3030.0,7.0,3.0,0.0,0.0,7.0,1900.0,345.0,36.0,323.0,0.0
456,Yreka,62692.0,47.0,3.0,4.0,4.0,38.0,309.0,85.0,188.0,36.0,1.0
457,Yuba City,65974.0,216.0,0.0,28.0,66.0,122.0,1792.0,429.0,1160.0,203.0,14.0
458,NaN,53498.0,94.0,2.0,8.0,22.0,62.0,1309.0,263.0,838.0,208.0,12.0
459,Yucca Valley,21672.0,151.0,0.0,8.0,30.0,113.0,664.0,217.0,381.0,66.0,8.0

In [19]:
#Заполнение при помощи моды

filled_mode_df = broken_df.fillna(broken_df['Robbery'].mode()[0])

# Заполняем модой все нули. Изменилась логика использования функции
# Хороша в категориальных переменных
# Но плоха в количественных

filled_mode_df

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Adelanto,33005.0,212.0,2.0,14.0,0.0,148.0,808.0,434.0,0.0,0.0,24.0
1,Agoura Hills,20970.0,0.0,0.0,1.0,6.0,8.0,310.0,82.0,217.0,0.0,0.0
2,Alameda,78613.0,148.0,2.0,7.0,61.0,0.0,1819.0,228.0,1245.0,346.0,18.0
3,Albany,19723.0,34.0,1.0,6.0,16.0,11.0,605.0,95.0,447.0,0.0,0.0
4,0.0,86175.0,168.0,1.0,13.0,74.0,0.0,1929.0,305.0,1413.0,211.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...
455,Yountville3,3030.0,7.0,0.0,0.0,0.0,7.0,0.0,0.0,36.0,0.0,0.0
456,Yreka,0.0,47.0,0.0,4.0,4.0,38.0,309.0,85.0,188.0,36.0,1.0
457,Yuba City,65974.0,216.0,0.0,28.0,66.0,122.0,1792.0,429.0,1160.0,203.0,14.0
458,0.0,53498.0,94.0,2.0,8.0,22.0,62.0,1309.0,263.0,838.0,208.0,12.0
459,Yucca Valley,21672.0,151.0,0.0,8.0,30.0,113.0,664.0,217.0,381.0,66.0,8.0

In [20]:
#Заполнение при помощи интерполяции

interpolated_df = broken_df.interpolate()

# Заполняем данные на основе ближайших соседей
# Ломается, если использовать 64-битные типы данных
# По сути является предсказыванием. Поэтому медиана, среднее и мода изменяться
# Опять же, не работает с категориальными
# Плохо сработает с данными в начале и конце, т.к. взять их можно только с одной стороны

interpolated_df

,City,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
0,Adelanto,33005.0,212.0,2.0,14.0,NaN,148.0,808.0,434.0,NaN,NaN,24.0
1,Agoura Hills,20970.0,180.0,0.0,1.0,6.0,8.0,310.0,82.0,217.0,NaN,0.0
2,Alameda,78613.0,148.0,2.0,7.0,61.0,9.5,1819.0,228.0,1245.0,346.0,18.0
3,Albany,19723.0,34.0,1.0,6.0,16.0,11.0,605.0,95.0,447.0,278.5,0.0
4,NaN,86175.0,168.0,1.0,13.0,74.0,17.5,1929.0,305.0,1413.0,211.0,6.0
...,...,...,...,...,...,...,...,...,...,...,...,...
455,Yountville3,3030.0,7.0,0.0,0.0,0.0,7.0,479.5,118.5,36.0,35.5,0.0
456,Yreka,34502.0,47.0,0.0,4.0,4.0,38.0,309.0,85.0,188.0,36.0,1.0
457,Yuba City,65974.0,216.0,0.0,28.0,66.0,122.0,1792.0,429.0,1160.0,203.0,14.0
458,NaN,53498.0,94.0,2.0,8.0,22.0,62.0,1309.0,263.0,838.0,208.0,12.0
459,Yucca Valley,21672.0,151.0,0.0,8.0,30.0,113.0,664.0,217.0,381.0,66.0,8.0

**Объясните**

``` в коментариях возле кода ```

Статистика по колонке "Robbery"

In [21]:
print("Дроп")
print(droped_df["Robbery"].describe().loc[['50%','mean']])
print("\nСреднее")
display(filled_mean_df[ "Robbery"].describe().loc[['50%','mean']])
print("\nМедиана")
display(filled_median_df[ "Robbery"].describe().loc[['50%','mean']])
print("\nМода")
display(filled_mode_df[ "Robbery"].describe().loc[['50%','mean']])
print("\nИнтерполяция")
display(interpolated_df[ "Robbery"].describe().loc[['50%','mean']])

Дроп
50%     22.000000
mean    67.724771
Name: Robbery, dtype: float64

Среднее

50%      24.500000
mean    102.736957
Name: Robbery, dtype: float64

Медиана

50%     20.000000
mean    94.002174
Name: Robbery, dtype: float64

Мода

50%     15.000000
mean    91.871739
Name: Robbery, dtype: float64

Интерполяция

50%     21.000000
mean    99.901961
Name: Robbery, dtype: float64

##Поиск выбросов и аномалий

**Те, кто выполняет задания со * делают поиск выбросов с помощью написанного ранее класса**

Найти выбросы по числовой переменной (использовать метод основанный на среднем и на межквартильном размахе). Объясните результат

Вывести статистику с выбросами и без. Сравните и объясните результат

In [22]:
# @title ИМПОРТ СУПЕР КРУТОЙ ЛИБЫ

from sklearn.cluster import DBSCAN
import numpy as np
import math

class Outline:
  def __init__(self, df):
    self.df = df

  def by_mean_and_std(self, col):

    outlier_index_list = []

    index_list = list(df.index)
    arr = list(df[col])
    n = len(arr)
    mean = np.array(arr).mean()
    median = np.array(arr).mean()
    std = np.array(arr).std()

    close_left = abs(median-mean)
    close_right = 3*((std*std/n)**0.5)

    cof = 3 if close_left <=close_right else 5

    for i in range(df[col].shape[0]):

      arr = list(df[col])
      x = arr.pop(i)
      mean = np.array(arr).mean()
      std = np.array(arr).std()

      lmin = mean-(cof*std)
      lmax = mean+(cof*std)

      if (x > lmax) | (x < lmin):
        outlier_index_list.append(index_list[i])

    ans = df[~df.index.isin(outlier_index_list)]
    return ans

  def by_chauvenet(self, col):

    value_list = list(df[col])
    index_list = list(df.index)

    outlier_find = True

    while outlier_find:
      outlier_find = False

      right = 1/(2*len(value_list))
      mean = np.array(value_list).mean()
      std = np.array(value_list).std()

      for i in range(len(value_list)):
        x = abs(value_list[i]-mean)/std
        if math.erfc(x) < right:
          value_list.pop(i)
          index_list.pop(i)
          outlier_find = True
          break

    ans = df.iloc[index_list]
    return ans

  def by_quart(self, col):
    Ni = 1.5
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3-q1

    lmax = q3 + Ni*iqr
    lmin = q1 - Ni*iqr

    ans = df[~((df[col]< lmin) | (df[col]>lmax))]
    return ans

  def by_two_value(self, col1, col2):

    df_selected_colum_values = df[['Violent crime', 'Robbery']].values
    array_of_selected_colum = np.array(df_selected_colum_values)

    clustering = DBSCAN(eps=3, min_samples=2).fit(array_of_selected_colum)

    df_mutable = df
    df_mutable['Cluster'] = list(clustering.labels_)

    grouped_series = df_mutable.groupby('Cluster')['Cluster'].count()
    outlier_cluster = list(grouped_series[grouped_series <= 2].keys())

    ans = df_mutable[~df_mutable['Cluster'].isin(outlier_cluster)]
    return ans

In [23]:
so = Outline(df)

In [24]:
#Методом среднего
print('Оригинальный')
display(df['Robbery'].describe())
print('\nОтчищенный средним')
display(so.by_mean_and_std('Robbery')['Robbery'].describe())

# Сильно изменились показатели среднего и ^2отклонения
# Т.к. они сильно чувствительны к выбросам
# Показатель медианы изменился крайне слабо, т.к. элементом по середине стал новый

Оригинальный

count     460.000000
mean      101.995652
std       495.037487
min         0.000000
25%         5.000000
50%        22.000000
75%        70.000000
max      8952.000000
Name: Robbery, dtype: float64

Отчищенный средним

count     457.000000
mean       67.978118
std       156.459104
min         0.000000
25%         5.000000
50%        21.000000
75%        68.000000
max      1378.000000
Name: Robbery, dtype: float64

In [25]:
#При помощи межквартильного размаха
print('Оригинальный')
display(df['Robbery'].describe())
print('\nОтчищенный средним')
display(so.by_quart('Robbery')['Robbery'].describe())

# Влияет на квартили, т.к. расчитывается на их основе
# Может удалить больше значений, чем метод среднего

Оригинальный

count     460.000000
mean      101.995652
std       495.037487
min         0.000000
25%         5.000000
50%        22.000000
75%        70.000000
max      8952.000000
Name: Robbery, dtype: float64

Отчищенный средним

count    419.000000
mean      33.155131
std       38.462525
min        0.000000
25%        4.000000
50%       17.000000
75%       49.000000
max      167.000000
Name: Robbery, dtype: float64

In [26]:
#Статистика и объяснение

**Объяснения**

##Дубликаты

Проверьте датафрейм на дубликаты и удалите их, если дублей нет - создайте.

In [27]:
# Оригинальный Df
df.describe()

,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
count,4.600000e+02,460.000000,460.000000,460.000000,460.000000,460.000000,460.000000,460.000000,460.000000,460.000000,460.000000
mean,7.027700e+04,298.580435,3.165217,23.202174,101.995652,170.217391,1918.213043,352.671739,1252.043478,313.497826,13.267391
std,2.127647e+05,1327.284267,14.971101,110.957275,495.037487,721.286288,5733.815467,964.779126,3831.857671,1018.758220,60.293764
min,1.150000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,2.000000,0.000000,0.000000
25%,1.217950e+04,29.000000,0.000000,2.000000,5.000000,18.000000,276.000000,54.750000,170.750000,24.750000,1.000000
50%,3.280000e+04,85.000000,1.000000,7.000000,22.000000,49.500000,742.000000,152.500000,488.000000,89.000000,4.000000
75%,7.474075e+04,212.250000,2.000000,18.000000,70.000000,128.000000,1887.250000,342.500000,1243.250000,287.500000,10.000000
max,3.962726e+06,25156.000000,282.000000,2209.000000,8952.000000,13713.000000,93503.000000,16160.000000,61191.000000,16152.000000,1131.000000

In [28]:
#Проверка на дубли
duplicates_df = df.drop_duplicates()
duplicates_df.describe()

# Количество записей осталось прежним => дублей нет
# В данном датасете их нет, т.к. каждая строка - информация по одному городу

,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
count,4.600000e+02,460.000000,460.000000,460.000000,460.000000,460.000000,460.000000,460.000000,460.000000,460.000000,460.000000
mean,7.027700e+04,298.580435,3.165217,23.202174,101.995652,170.217391,1918.213043,352.671739,1252.043478,313.497826,13.267391
std,2.127647e+05,1327.284267,14.971101,110.957275,495.037487,721.286288,5733.815467,964.779126,3831.857671,1018.758220,60.293764
min,1.150000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,2.000000,0.000000,0.000000
25%,1.217950e+04,29.000000,0.000000,2.000000,5.000000,18.000000,276.000000,54.750000,170.750000,24.750000,1.000000
50%,3.280000e+04,85.000000,1.000000,7.000000,22.000000,49.500000,742.000000,152.500000,488.000000,89.000000,4.000000
75%,7.474075e+04,212.250000,2.000000,18.000000,70.000000,128.000000,1887.250000,342.500000,1243.250000,287.500000,10.000000
max,3.962726e+06,25156.000000,282.000000,2209.000000,8952.000000,13713.000000,93503.000000,16160.000000,61191.000000,16152.000000,1131.000000

In [29]:
#Создадим дубли
spam_df = pd.concat((df, df.loc[33:66]))
spam_df.describe()

# Видим, что многие признаки изменились

,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
count,4.940000e+02,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000,494.000000
mean,6.775041e+04,284.204453,2.991903,22.121457,97.004049,162.087045,1850.453441,340.925101,1210.465587,299.062753,12.746964
std,2.057026e+05,1282.150280,14.463774,107.165686,478.255544,696.800290,5546.290398,933.495712,3706.688179,985.256583,58.239092
min,1.150000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,2.000000,0.000000,0.000000
25%,1.179500e+04,28.000000,0.000000,2.000000,5.000000,17.000000,272.000000,53.000000,166.000000,22.000000,1.000000
50%,3.109150e+04,81.500000,1.000000,7.000000,21.000000,47.000000,734.000000,152.500000,484.000000,80.500000,4.000000
75%,7.169075e+04,198.500000,2.000000,17.000000,62.750000,123.000000,1839.750000,327.000000,1229.500000,263.500000,10.000000
max,3.962726e+06,25156.000000,282.000000,2209.000000,8952.000000,13713.000000,93503.000000,16160.000000,61191.000000,16152.000000,1131.000000

In [30]:
#Удаление дублей
spam_df = df.drop_duplicates()
spam_df.describe()

# А здесь показатели вернулись к своим изначальным значениям

,Population,Violent crime,Murder and nonnegligent manslaughter,Rape (revised definition),Robbery,Aggravated assault,Property crime,Burglary,Larceny-theft,Motor vehicle theft,Arson
count,4.600000e+02,460.000000,460.000000,460.000000,460.000000,460.000000,460.000000,460.000000,460.000000,460.000000,460.000000
mean,7.027700e+04,298.580435,3.165217,23.202174,101.995652,170.217391,1918.213043,352.671739,1252.043478,313.497826,13.267391
std,2.127647e+05,1327.284267,14.971101,110.957275,495.037487,721.286288,5733.815467,964.779126,3831.857671,1018.758220,60.293764
min,1.150000e+02,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,2.000000,0.000000,0.000000
25%,1.217950e+04,29.000000,0.000000,2.000000,5.000000,18.000000,276.000000,54.750000,170.750000,24.750000,1.000000
50%,3.280000e+04,85.000000,1.000000,7.000000,22.000000,49.500000,742.000000,152.500000,488.000000,89.000000,4.000000
75%,7.474075e+04,212.250000,2.000000,18.000000,70.000000,128.000000,1887.250000,342.500000,1243.250000,287.500000,10.000000
max,3.962726e+06,25156.000000,282.000000,2209.000000,8952.000000,13713.000000,93503.000000,16160.000000,61191.000000,16152.000000,1131.000000

## Преобразование признаков

Масштабируйте числовые признаки через MinMaxScaler, StandardScaler

In [31]:
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.preprocessing import OneHotEncoder

In [32]:
num_cols = df.select_dtypes(include=['int']).columns
num_cols

Index(['Population', 'Violent crime', 'Murder and nonnegligent manslaughter',
       'Rape (revised definition)', 'Robbery', 'Aggravated assault',
       'Property crime', 'Burglary', 'Larceny-theft', 'Motor vehicle theft',
       'Arson'],
      dtype='object')

In [33]:
min_max_scaler = MinMaxScaler()
df_minmax_scaled = df.copy()
df_minmax_scaled[num_cols] = min_max_scaler.fit_transform(df[num_cols])
df_minmax_scaled['Robbery'].unique()

array([5.36193029e-03, 6.70241287e-04, 6.81411975e-03, 1.78731010e-03,
       8.26630920e-03, 3.35120643e-04, 2.23413762e-04, 2.34584450e-03,
       4.90393208e-02, 1.00536193e-03, 3.12779267e-02, 5.58534406e-03,
       3.46291332e-03, 1.22877569e-03, 3.35120643e-03, 1.56389634e-03,
       1.67560322e-03, 2.90437891e-03, 7.81948168e-04, 1.11706881e-04,
       4.46827525e-04, 5.47363718e-03, 7.31680071e-02, 8.60142985e-03,
       3.23949955e-03, 7.81948168e-03, 0.00000000e+00, 1.69794459e-02,
       5.69705094e-03, 5.58534406e-04, 8.93655049e-04, 3.68632708e-02,
       4.46827525e-03, 2.45755139e-03, 4.80339589e-03, 7.48436104e-03,
       4.57998213e-03, 2.23413762e-03, 1.34048257e-03, 4.24486148e-03,
       1.28462913e-02, 1.11706881e-03, 6.14387846e-03, 5.13851653e-03,
       9.71849866e-03, 5.92046470e-03, 2.56925827e-03, 2.66979446e-02,
       1.26228776e-02, 3.01608579e-03, 3.12779267e-03, 3.70866845e-02,
       2.03306524e-02, 1.45218945e-03, 1.09472744e-02, 1.36282395e-02,
       3.68632708e-03, 8.71313673e-03, 9.94191242e-03, 5.80875782e-03,
       6.92582663e-03, 1.93252904e-02, 2.12243074e-03, 1.89901698e-03,
       9.04825737e-03, 1.19526363e-02, 6.25558534e-03, 7.59606792e-03,
       1.17292225e-02, 1.59740840e-02, 1.96604111e-02, 6.47899911e-03,
       1.86550492e-02, 2.37935657e-02, 2.68096515e-03, 1.68677391e-02,
       1.13047364e-01, 1.22877569e-02, 1.66443253e-02, 1.73145666e-02,
       8.37801609e-03, 2.79267203e-03, 2.74798928e-02, 3.32886506e-02,
       1.94369973e-02, 9.27167113e-03, 1.30697051e-02, 1.97721180e-02,
       1.42984808e-02, 3.99910634e-02, 6.36729223e-03, 1.01653262e-02,
       4.13315460e-03, 1.03887399e-02, 7.03753351e-03, 3.64164433e-02,
       3.90974084e-03, 2.01072386e-03, 1.05004468e-02, 1.17739053e-01,
       1.00000000e+00, 4.02144772e-03, 9.15996425e-03, 5.02680965e-03,
       3.57462020e-03, 5.45129580e-02, 8.48972297e-03, 8.15460232e-03,
       4.69168901e-03, 3.07193923e-02, 1.58623771e-02, 6.03217158e-03,
       1.46336014e-02, 3.67515639e-01, 2.41286863e-02, 2.42403932e-02,
       4.30071492e-02, 2.80384272e-02, 9.38337802e-03, 1.35165326e-02,
       1.41867739e-02, 3.25067024e-02, 1.16175156e-02, 1.08355675e-02,
       1.61974978e-02, 9.83020554e-03, 1.70911528e-02, 5.80875782e-02,
       1.31143878e-01, 4.12198391e-02, 1.08132261e-01, 1.53932082e-01,
       4.03261841e-01, 1.27345845e-01, 2.45755139e-02, 3.79803396e-03,
       9.49508490e-03, 5.84226988e-02, 7.93118856e-03, 1.38516533e-02,
       1.29579982e-02, 1.48570152e-02, 1.92135836e-02, 2.22296693e-02,
       4.91510277e-03, 6.70241287e-03, 1.27792672e-01, 5.25022341e-03,
       1.15058088e-02, 8.82484361e-03, 3.92091153e-02, 2.55808758e-02,
       1.45218945e-02, 1.06121537e-02, 1.10589812e-02, 1.00536193e-02,
       1.31814120e-02, 7.37265416e-03])

In [34]:
standard_scaler = StandardScaler()
df_std_scaled = df.copy()
df_std_scaled[num_cols] = standard_scaler.fit_transform(df[num_cols])
df_std_scaled['Robbery'].unique()

array([-1.09192618e-01, -1.94127048e-01, -8.29033892e-02, -1.73904564e-01,
       -5.66141609e-02, -2.00193793e-01, -2.02216041e-01, -1.63793323e-01,
        6.81506480e-01, -1.88060303e-01,  3.59968996e-01, -1.05148121e-01,
       -1.43570839e-01, -1.84015806e-01, -1.45593088e-01, -1.77949061e-01,
       -1.75926813e-01, -1.53682081e-01, -1.92104799e-01, -2.04238289e-01,
       -1.98171544e-01, -1.07170369e-01,  1.11831212e+00, -5.05474159e-02,
       -1.47615336e-01, -6.47031542e-02, -2.06260538e-01,  1.01121209e-01,
       -1.03125873e-01, -1.96149296e-01, -1.90082551e-01,  4.61081412e-01,
       -1.25370604e-01, -1.61771074e-01, -1.19303859e-01, -7.07698992e-02,
       -1.23348356e-01, -1.65815571e-01, -1.81993558e-01, -1.29415101e-01,
        2.62980207e-02, -1.86038054e-01, -9.50368792e-02, -1.13237114e-01,
       -3.03249326e-02, -9.90813759e-02, -1.59748826e-01,  2.77056814e-01,
        2.22535240e-02, -1.51659833e-01, -1.49637584e-01,  4.65125909e-01,
        1.61788659e-01, -1.79971309e-01, -8.08020094e-03,  4.04537590e-02,
       -1.39526343e-01, -4.85251676e-02, -2.62804359e-02, -1.01103624e-01,
       -8.08811409e-02,  1.43588424e-01, -1.67837819e-01, -1.71882316e-01,
       -4.24584226e-02,  1.01200340e-02, -9.30146309e-02, -6.87476509e-02,
        6.07553738e-03,  8.29209740e-02,  1.49655169e-01, -8.89701342e-02,
        1.31454934e-01,  2.24478357e-01, -1.57726578e-01,  9.90989607e-02,
        1.84025477e+00,  1.61867790e-02,  9.50544640e-02,  1.07187954e-01,
       -5.45919126e-02, -1.55704329e-01,  2.91212552e-01,  3.96369466e-01,
        1.45610672e-01, -3.84139259e-02,  3.03425174e-02,  1.51677417e-01,
        5.25872490e-02,  5.17704365e-01, -9.09923826e-02, -2.22359393e-02,
       -1.31437349e-01, -1.81914426e-02, -7.88588926e-02,  4.52992419e-01,
       -1.35481846e-01, -1.69860068e-01, -1.61691943e-02,  1.92518920e+00,
        1.78969065e+01, -1.33459598e-01, -4.04361743e-02, -1.15259363e-01,
       -1.41548591e-01,  7.80596649e-01, -5.25696643e-02, -5.86364093e-02,
       -1.21326108e-01,  3.49857754e-01,  8.08987257e-02, -9.70591276e-02,
        5.86539940e-02,  6.44693648e+00,  2.30545102e-01,  2.32567351e-01,
        5.72305070e-01,  3.01323794e-01, -3.63916776e-02,  3.84315107e-02,
        5.05650007e-02,  3.82213727e-01,  4.05328905e-03, -1.01024493e-02,
        8.69654707e-02, -2.83026843e-02,  1.03143457e-01,  8.45308595e-01,
        2.16785900e+00,  5.39949097e-01,  1.75127585e+00,  2.58039766e+00,
        7.09405594e+00,  2.09910256e+00,  2.38634096e-01, -1.37504094e-01,
       -3.43694293e-02,  8.51375340e-01, -6.26809059e-02,  4.44982557e-02,
        2.83202690e-02,  6.26984907e-02,  1.41566176e-01,  1.96166881e-01,
       -1.17281611e-01, -8.49256376e-02,  2.10719155e+00, -1.11214866e-01,
        2.03104072e-03, -4.65029193e-02,  5.03548627e-01,  2.56834331e-01,
        5.66317457e-02, -1.41469459e-02, -6.05795261e-03, -2.42581876e-02,
        3.23647657e-02, -7.27921476e-02])

Масштабируйте категориальные признаки через OneHotEncoder

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460 entries, 0 to 459
Data columns (total 12 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   City                                  460 non-null    object
 1   Population                            460 non-null    int32
 2   Violent crime                         460 non-null    int32
 3   Murder and nonnegligent manslaughter  460 non-null    int32
 4   Rape (revised definition)             460 non-null    int32
 5   Robbery                               460 non-null    int32
 6   Aggravated assault                    460 non-null    int32
 7   Property crime                        460 non-null    int32
 8   Burglary                              460 non-null    int32
 9   Larceny-theft                         460 non-null    int32
 10  Motor vehicle theft                   460 non-null    int32
 11  Arson                                 460 non-null    int32
dtypes: int32(11), object(1)
memory usage: 23.5+ KB

In [36]:
#Создадим категориальный признак
mod_df = df.copy()
mod_df['Population'] = pd.qcut(mod_df['Population'], 4, labels=["Raw","Rare",'Medium', 'Well Done'])
mod_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460 entries, 0 to 459
Data columns (total 12 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   City                                  460 non-null    object
 1   Population                            460 non-null    category
 2   Violent crime                         460 non-null    int32
 3   Murder and nonnegligent manslaughter  460 non-null    int32
 4   Rape (revised definition)             460 non-null    int32
 5   Robbery                               460 non-null    int32
 6   Aggravated assault                    460 non-null    int32
 7   Property crime                        460 non-null    int32
 8   Burglary                              460 non-null    int32
 9   Larceny-theft                         460 non-null    int32
 10  Motor vehicle theft                   460 non-null    int32
 11  Arson                                 460 non-null    int32
dtypes: category(1), int32(10), object(1)
memory usage: 22.3+ KB

In [37]:
# Create an instance of OneHotEncoder
#encoded_df = pd.get_dummies(mod_df, columns=['Population'], drop_first=True)

encoder = OneHotEncoder(sparse=False)
encoded_features = encoder.fit_transform(mod_df['Population'].to_numpy().reshape(-1,1))

cat_features = mod_df.select_dtypes(include=['category']).columns
display(cat_features)
encoder = OneHotEncoder(sparse=False, drop='first')
encoded_features = encoder.fit_transform(mod_df[cat_features])

# Получаем имена новых признаков
encoded_columns = encoder.get_feature_names_out(cat_features)

modded_df = pd.DataFrame(encoded_features, columns = encoded_columns)
modded_df

c:\python39\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

Index(['Population'], dtype='object')

c:\python39\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

     Population_Rare  Population_Raw  Population_Well Done
0                0.0             0.0                   0.0
1                1.0             0.0                   0.0
2                0.0             0.0                   1.0
3                1.0             0.0                   0.0
4                0.0             0.0                   1.0
..               ...             ...                   ...
455              0.0             1.0                   0.0
456              0.0             1.0                   0.0
457              0.0             0.0                   0.0
458              0.0             0.0                   0.0
459              1.0             0.0                   0.0

[460 rows x 3 columns]

##Задание для гениев*


Реализовать расчет корреляции Спирмана

In [38]:
#Функция по расчету тут

# Вспомогательная функция для ранжирования
def range_list(x):
  x_sorted = sorted(x)
  dx_dict = {}

  for i in x:
    dx_dict[i] = ''

  dx_dict[x_sorted[0]] = 1
  count_same_x = 0

  for i in range(1, len(x)):
    if x_sorted[i-1] == x_sorted[i]:
      count_same_x += 1
      continue

    if count_same_x > 0:
      sum = (i-count_same_x + i)*(count_same_x+1)/2
      val = sum/(count_same_x+1)
      dx_dict[x_sorted[i-1]] = round(val,2)

      count_same_x = 0

    dx_dict[x_sorted[i]] = i+1

  if count_same_x > 0:
    sum = (i+1-count_same_x + i+1)*(count_same_x+1)/2
    val = sum/(count_same_x+1)
    dx_dict[x_sorted[i-1]] = round(val,2)

  ans = []
  for i in x:
    ans.append(dx_dict[i])

  return(ans)


def spearman_correl(x, y):
  if len(x) != len(y) and len(x) < 2:
    return

  x = list(x)
  y = list(y)

  dx = range_list(x)
  dy = range_list(y)

  n = len(x)
  sum = 0
  for i in range(n):
    sum += (dx[i] - dy[i])*(dx[i] - dy[i])

  ans = 1 - (6*sum)/(n*n*n - n)

  return ans

In [39]:
#Пример использования тут и объяснение принципа работы

In [40]:
# Передаем методу две колонки
# Сначала расчитаем для каждого значения его порядковый номер
#   Если значения одинаковые, то найдем среднее среди их порядковых номеров
# Затем ищем сумму квадратов разности между рангами и высчитываем оставшуюся часть формулы
# Последним шагом будет интерпритация полученного результата
#   Чем ближе к нулю, тем менее связанны данные и наоборот
#   Чем ближе к -1/1, тем сильнее связанны данные

print(spearman_correl(df['Robbery'], df['Burglary']))

0.921516262199809